In [18]:
import pandas as pd 
import numpy as np

In [19]:
df=pd.read_csv("gpa_iq.csv")

In [20]:
df.head()

   obs    gpa   iq  gender  concept
0    1  7.940  111       2       67
1    2  8.292  107       2       43
2    3  4.643  100       2       52
3    4  7.470  107       2       66
4    5  8.882  114       1       58

In [21]:
df.shape

(78, 5)

In [22]:
X=df.iloc[:,0:1]
y=df.iloc[:,-1]

In [23]:
X

    obs
0     1
1     2
2     3
3     4
4     5
..  ...
73   85
74   86
75   87
76   88
77   89

[78 rows x 1 columns]

In [24]:
y

0     67
1     43
2     52
3     66
4     58
      ..
73    60
74    70
75    51
76    21
77    56
Name: concept, Length: 78, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split (X,y,test_size=0.2,random_state=2)

In [26]:
class MeraLR:
    
    def __init__(self):
        self.coef_ = None
        self.intercept_ = None
        
    def fit(self,X_train,y_train):
        X_train = np.insert(X_train,0,1,axis=1)
        
        # calcuate the coeffs
        betas = np.linalg.inv(np.dot(X_train.T,X_train)).dot(X_train.T).dot(y_train)
        self.intercept_ = betas[0]
        self.coef_ = betas[1:]
    
    def predict(self,X_test):
        y_pred = np.dot(X_test,self.coef_) + self.intercept_
        return y_pred

In [27]:
X_train =np.array(X_train)
y_train=np.array(y_train)
X_test=np.array(X_test)

In [28]:
lr=MeraLR()

In [29]:
lr.fit(X_train,y_train)

In [30]:
y_pred=lr.predict(X_test)

In [31]:
y_pred

array([58.14405654, 54.11501553, 58.23775516, 59.73693321, 52.89693337,
       53.27172788, 58.42515242, 56.36378261, 55.05200181, 58.61254968,
       59.64323458, 56.83227575, 60.86131675, 53.92761828, 58.98734419,
       55.61419358])

In [32]:
y_test.values

array([65, 73, 53, 64, 51, 42, 70, 52, 66, 68, 56, 70, 43, 59, 20, 54])