In [25]:
import pandas as pd 
import numpy as np

In [26]:
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [27]:
df= pd.read_csv('train.csv',usecols=['Age','Fare','Survived'])

In [28]:
df.shape

(891, 3)

In [30]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [31]:
df.dropna(inplace=True)

In [32]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [33]:
df.isnull().sum()

Survived    0
Age         0
Fare        0
dtype: int64

In [34]:
df.shape

(714, 3)

In [35]:
X=df.iloc[:,1:]
y=df.iloc[:,0]

In [41]:
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2,stratify=y,random_state=42)

In [44]:
X_train

      Age     Fare
619  26.0  10.5000
622  20.0  15.7417
72   21.0  73.5000
339  45.0  35.5000
513  54.0  59.4000
..    ...      ...
193   3.0  26.0000
604  35.0  26.5500
852   9.0  15.2458
735  28.5  16.1000
821  27.0   8.6625

[571 rows x 2 columns]

In [45]:
clf=DecisionTreeClassifier()

In [46]:
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

In [48]:
accuracy_score(y_test,y_pred)

0.5664335664335665

In [49]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

np.float64(0.6359154929577464)

In [54]:
kbin_age =KBinsDiscretizer(n_bins=10,encode='ordinal',strategy='quantile')
kbin_fare=KBinsDiscretizer(n_bins=10,encode='ordinal',strategy='quantile')

In [55]:
trf =ColumnTransformer([
    ('first',kbin_age,[0]),
    ('second',kbin_fare,[1])
])

In [58]:
X_train_trf=trf.fit_transformer(X_train)
X_train_trf=trf.transform(X_test)

AttributeError: 'ColumnTransformer' object has no attribute 'fit_transformer'

# remainnig part will do as earlier as