In [22]:
import pandas as pd
import numpy as np

In [23]:
data = pd.read_csv(r"D:\16_MACHINE_LEARNING\03_MACHINE_LEARNING_USING_PYTHON\play_tennis.csv")

In [24]:
data.drop(columns=['day'],inplace=True)

In [25]:
data.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [26]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [27]:
pyes=9/14
pno=5/14
print(pyes)
print(pno)

0.6428571428571429
0.35714285714285715

In [28]:
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [29]:
#outlook
pon=0
prn=2/5
psn=3/5

poy=4/9
pry=3/9
psy=2/9

In [30]:
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [38]:
#temp
pcn=1/5
phn=2/5
pmn=2/5

pcy=3/9
phy=2/9
pmy=4/9

In [39]:
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [40]:
#humidity
phhn=4/5
phnn=1/5

phhy=3/9
phny=6/9

In [41]:
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [42]:
#wind
pwsn=3/5
pwwn=2/5


pwsy=3/9
pwwy=6/9

In [43]:
finalpyes=psy*phy*phhy*pwwy*pyes
print(finalpyes)

0.007054673721340387

In [46]:
finalno=psn*phn*phhn*pwwn*pno
print(finalno)

0.02742857142857143

In [ ]:
#problem 2

In [48]:
finalp2yes=poy*pcy**phny*pwwy*pyes
finalp2yes

0.09157140128935926

In [50]:
finalp2no=pon*pcn*phnn*pwwn*pno
finalp2no

0.0