In [58]:
import pandas as pd 
import numpy as np

In [59]:
df=pd.read_csv("multiple_linear_regression_dataset.csv")

In [60]:
df.head()

   age  experience  income
0   25           1   30450
1   30           3   35670
2   47           2   31580
3   32           5   40130
4   43          10   47830

In [61]:
df.shape

(20, 3)

In [68]:
X=df.iloc[:,0:2]
y=df.iloc[:,-1]

In [69]:
X

    age  experience
0    25           1
1    30           3
2    47           2
3    32           5
4    43          10
5    51           7
6    28           5
7    33           4
8    37           5
9    39           8
10   29           1
11   47           9
12   54           5
13   51           4
14   44          12
15   41           6
16   58          17
17   23           1
18   44           9
19   37          10

In [70]:
y

0     30450
1     35670
2     31580
3     40130
4     47830
5     41630
6     41340
7     37650
8     40250
9     45150
10    27840
11    46110
12    36720
13    34800
14    51300
15    38900
16    63600
17    30870
18    44190
19    48700
Name: income, dtype: int64

In [71]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split (X,y,test_size=0.2,random_state=2)

In [72]:
class MeraLR:
    
    def __init__(self):
        self.coef_ = None
        self.intercept_ = None
        
    def fit(self,X_train,y_train):
        X_train = np.insert(X_train,0,1,axis=1)
        
        # calcuate the coeffs
        betas = np.linalg.inv(np.dot(X_train.T,X_train)).dot(X_train.T).dot(y_train)
        self.intercept_ = betas[0]
        self.coef_ = betas[1:]
    
    def predict(self,X_test):
        y_pred = np.dot(X_test,self.coef_) + self.intercept_
        return y_pred

In [73]:
X_train =np.array(X_train)
y_train=np.array(y_train)
X_test=np.array(X_test)

In [74]:
lr=MeraLR()

In [75]:
lr.fit(X_train,y_train)

In [76]:
y_pred=lr.predict(X_test)

In [77]:
y_pred

array([36843.22672444, 48934.22956284, 46639.48736579, 31059.36312867])

In [78]:
y_test.values

array([36720, 47830, 44190, 30450])